<% include ../partials/header %>
<h3>Zoo's "Index" Page</h3>
<p><h4>A list of your zoos:</h4></p>
	<ul>
   <% zoos.forEach(function(zoo){ %>
	  <li><%= zoo.name%></li>
	 <%})%>
	</ul>
	<a href="/zoos/new" class ="btn btn-info">Add Zoo</a>
<% include ../partials/footer %>